@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Home styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.b1 {
  width: 100%;
  height: 100%;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://upload.wikimedia.org/wikipedia/commons/3/38/Speedcubing%2C_BLD_solving_in_Estonian_Open_2016.jpg')
      no-repeat 50% 50%;
  top: 0;
  opacity: 0.9;
  display: table;
  background-size: cover;
}
.b1 .in1 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.content h1 {
  font-family: 'Century Gothic', sans-serif;
  color: #f9f3f4;
  font-size: 500%;
  text-shadow: 0 0 300px #000;
}
.content p {
  font-family: 'Century Gothic', sans-serif;
  color: #1890ff;
  font-size: 200%;
  padding-left: 10%;
  text-shadow: 0 0 300px #000;
}

.content .btn {
  border-radius: 9px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
}
.content .btn:hover {
  color: #2196f3;
}
p {
  font-size: 160%;
  line-height: 200%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

/* clock styles */
.clock-bg {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}
.clock {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
  color: #1890ff;
  font-size: 10em;
  font-family: 'Oxygen Mono', monospace;
  letter-spacing: 7px;
}

.stopwatch--button-div {
  font-family: 'Oxygen Mono', monospace;
  position: absolute;
  font-size: 3em;
  top: 75%;
  left: 45%;
}

.stopwatch--button {
  border-radius: 9px;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
  text-decoration: none;
  color: #1890ff;
  margin: 2px;
}

.stopwatch--button:hover {
  cursor: pointer;
}

.stopwatch--ul>li:first-child{
  font-weight: bold;
}

.stopwatch--note {
  color: #1890ff;
  font-size: 1em;
}

.stopwatch--note-icon {
  margin-right: 0.3%;
}

.stopwatch--image img {
  width: 40%;
  height: 60%;
  border: 2px solid #1890ff;
  margin-left: 5%;
  left: 17%;
}

.stopwatch--image p {
  color: #1890ff;
}

.stopwatch--image li {
  color: #1890ff;
  font-size: 2em;
  list-style-type: none;
}

.stopwatch--image {
  float: left;
  width: 33.33%;
}

.stopwatch--best {
  color: #4caf50;
}

.stopwatch--columns {
  display: flex;
  flex-direction: row;
}
